<section id="main-content">
    <section class="wrapper">
        <div class="row">
            <div class="col-lg-12 centered">
            <h1>Site Requirements</h1>
		         <h3>Fill the form and create your site requirements sheet.</h3>
             			<%= bootstrap_form_for current_project.site_requirement, :html => {:class => 'form-panel'}, :method => :put do |f| %>
             <div class="login-wrap">
             	  <br />
                <h4><%= f.text_area :requirement1, label: "Do you already have a website? If the answer is yes, paste the URL" %></h4>
                <br />
                <h4><%= f.text_area :requirement2, label: "Please list at least two competitive websites and relevant URLs, and comment on what you like/dislike about them" %></h4>
                <br />
                <h4><%= f.text_area :requirement3, label: "How crucial will your website be to your overall business model?  For example, will it be your primary source of income or more of information portal to sell product elsewhere?" %></h4>
                <br />
                <h4><%= f.text_area :requirement4, label: "Your Target Audience" %></h4>
                <h4><%= f.text_area :requirement5, label: "Please indicate whom your primary audience is expected to be – the kind of users who will most likely use your site on a regular basis:" %></h4>
                <br />
                <h4><%= f.text_area :requirement6, label: "Will you require different template layouts between pages, or will the layout remain largely the same throughout the site?" %></h4>
                <br />
                <h4><%= f.text_area :requirement7, label: "What specific features (other than core content display) will the site require?  For example: discussion forum, newsletter subscription, online shop (ecommerce), user registration & accounts, blog, gallery, etc." %></h4>
                <br />
                <h4><%= f.text_area :requirement8, label: "What kind of website will this be?  For example: personal, corporate, web2.0, clean, etc." %></h4>
                <br />
                <h4><%= f.text_area :requirement9, label: "How would you describe the style of the site?  Use as many keywords as you feel is necessary. For example: modern, grungy, bright, colourful, dark, retro, minimalist, neutral, corporate, paper-made." %></h4>
                <br />
                <h4><%= f.text_area :requirement10, label: "Please provide any additional information that you feel is relevant to the  project." %></h4>
                <br />
              <%= f.submit "Save", :class => "btn btn-theme btn-static" %>
              </div>
            <% end %>
            </div>
        </div>
    </section>
</section>