<% @requirements.sort.each_with_index do |requirement, index| %>
<div class="col-md-3">
<%= button_to "x", {:controller => :user_requirements,
      					:action => 'destroy', 
      					:id => requirement.id }, 
      					:method => :delete, 
      					:class=> "close",
      					:type => "button" %>

	  		<%= bootstrap_form_for(requirement, inline_errors: true, :html => {:class => 'form-panel'}, :id => requirement.id, :method => :put) do |f| %>
				<h5>Requirement <%= index+1 %></h5>
				<div class="login-wrap">
					<%= f.text_field :name %>
					<%= f.text_area :description %>
					<button class="btn btn-theme btn-block" type="submit">Update</button>
				</div>
			<% end %>
	</div>
<% end %>