<div id="conduct-task-analysis">
	<h2>Conduct Task Analysis</h2>
	<ul>
		<li><h3>Context: </h3></li>
		<%= @conduct_task_analysis.context %>
		<li><h3>Evaluator: </h3>
		<%= @conduct_task_analysis.evaluator %></li>
		<li><h3>Writer: </h3></li>
		<%= @conduct_task_analysis.writer %>
		<li><h3>Duration: </h3></li>
		<%= @conduct_task_analysis.duration %> seconds
		<li><h3>Test results: </h3></li>
		<%= @conduct_task_analysis.test %>
	</ul>
</div>