<div id="personas">
	<h2>Personas</h2>
	<% @personas.each_with_index do |persona, index| %>
		<h3>Persona <%= index+1 %>: <%= persona.name %></h3>
		<ul>
		<%= image_tag persona.image.url(:medium) %>
		<li><h4>Age: <%= persona.age %></h4></li>
		<li><h4>Location: <%= persona.location %></h4></li>
		<li><h4>Gender: <%= persona.gender %></h4></li>
		<li><h4>Education: <%= persona.education %></h4></li>
		<li><h4>Hobbies: <%= persona.hobbies %></h4></li>
		<li><h4>Description: <%= persona.description %></h4></li>
		<li><h4>Tech Level: <%= persona.tech_level %></h4></li>
		<li><h4>Goals <%= persona.goals %></h4></li>
		<li><h4>Challenges <%= persona.challenges %></h4></li>
		</ul>
	<% end %>
</div>