<div id="site-requirements">
<h2>Site Requirements</h2>
<ol>
	<li><h3>Do you already have a website? If the answer is yes, paste the URL</h3></li>
	<%= @site_requirements[0] %>

	<li><h3>Please list at least two competitive websites and relevant URLs, and comment on what you like/dislike about them</h3></li>
	<%= @site_requirements[1] %>

	<li><h3>How crucial will your website be to your overall business model?  For example, will it be your primary source of income or more of information portal to sell product elsewhere?</h3></li>
	<%= @site_requirements[2] %>

	<li><h3>Your Target Audience</h3></li>
	<%= @site_requirements[3] %>

	<li><h3>Please indicate whom your primary audience is expected to be – the kind of users who will most likely use your site on a regular basis:</h3></li>
	<%= @site_requirements[4] %>

	<li><h3>Will you require different template layouts between pages, or will the layout remain largely the same throughout the site?</h3></li>
	<%= @site_requirements[5] %>

	<li><h3>What specific features (other than core content display) will the site require?  For example: discussion forum, newsletter subscription, online shop (ecommerce), user registration and accounts, blog, gallery, etc.</h3></li>
	<%= @site_requirements[6] %>

	<li><h3>What kind of website will this be?  For example: personal, corporate, web2.0, clean, etc.</h3></li>
	<%= @site_requirements[7] %>

	<li><h3>How would you describe the style of the site?  Use as many keywords as you feel is necessary. For example: modern, grungy, bright, colourful, dark, retro, minimalist, neutral, corporate, paper-made.</h3></li>
	<%= @site_requirements[8] %>

	<li><h3>Please provide any additional information that you feel is relevant to the  project.</h3></li>
	<%= @site_requirements[9] %>
</ol>
</div>