<h1>User Interaction Document<h1>
<h2>Project Name: <%= current_project.name %></h2>

<h2>Index</h2>
<ul>
	<li><h3><a href="#site-requirements">Site Requirements</a></h3></li>
	<li><h3><a href="#personas">Personas</a></h3></li>
	<li><h3><a href="#scenarios">Scenarios</a></h3></li>
	<li><h3><a href="#user-requirements">User Requirements</a></h3></li>
	<li><h3><a href="#use-cases">Use Cases</a></h3></li>
	<li><h3><a href="#card-sorting">Card Sorting Test</a></h3></li>
	<li><h3><a href="#conduct-task-analysis">Conduct Task Analysis</a></h3></li>
</ul>

<%= render "site_requirements_doc" %>
<%= render "personas_doc" %>
<%= render "scenarios_doc" %>
<%= render "user_requirements_doc" %>
<%= render "use_cases_doc" %>
<%= render "card_sorting_doc" %>
<%= render "conduct_task_analysis_doc" %>