<!DOCTYPE html>
<html>
<head>
  <title>Toyu - Think of your users</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller_name %> <%= action_name %>" id="page-body">
<%= render "shared/flash_messages" %>
<section id="container">
  <header class="header black-bg">
    <div class="sidebar-toggle-box">
      <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation" id="hide-sidebar">
      </div>
    </div>
      <a class="logo"><b>TOYU</b></a>
<%= render "/layouts/logout_button" %>
<div class="top-menu">
      <button id="help-button" class="btn btn-success pull-right">Help</button>
</div>
  </header>
<%= render "/layouts/sidebar" %>
<%= render "/layouts/help_sidebar" %>
<div id="page-content">
  <%= yield %>
</div>
</section>
</body>
</html>